/* RESPONSIVE */





/* TABLET */

@media screen and (max-width: 790px) and (orientation: portrait){

    /* NAVIGACIJA */
    .nav{
        padding: 1.25rem 3rem;
        background-color: #222;
        transition: 0.5s;
        justify-content: space-between;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 5rem; /* 60px */
        left: 0;
        background-color: #222;
        
    }

    .nav-links li {
        text-align: center;
        margin: 1.25rem 0; /* 10px */
    }
    .nav-links a {
        padding: 1.25rem; /* 20px */
    }
    .nav-links a:hover{
        text-decoration: underline !important;
        text-underline-offset: 1rem !important;
    }

    .nav-toggle {
        display: flex;
    }
    .nav.hidden {
        top: -100px; /* Adjust this value based on your navbar height */
    }
    .nav-links.activeResp {
        display: flex;
        border-bottom-right-radius: 0.625rem; /* 10px */
        border-bottom-left-radius: 0.625rem; /* 10px */
    }

    .nav-links li:last-child {
        margin-bottom: 2rem; /* 20px */
    }
    #kontakt{
        display: none;
    }
    #kontakt:hover{
        color: #222;
    }
    #kontaktResp{
        display: inline;
        font-weight: 700;
        color: white;
        background-color: transparent;
        border: 0.125rem solid white; /* 2px */
        border-radius: 0.3125rem; /* 5px */
        padding: 0.9375rem 1.875rem; /* 15px 30px */
        opacity: 1;
        transition: opacity 0.3s ease-out, background-color 0.2s ease-in-out;
        text-decoration: none;
        cursor: pointer;
    }
    #kontaktResp:hover {
        color: #222;
        background-color: white;
        opacity: 1;
    }
    #active a{
        text-decoration: underline;
        text-underline-offset: 1rem;
    }
    /* KRAJ NAVIGACIJE */

    /* POCETNA */
    .main-content{
        margin-left: 0;
        font-size: 1.188rem;
    }
    .main-content h2{
        font-size: 17px;
    }
    /* .main-content h1{
        margin: 2.5rem 0;
    } */
    .main-content p{
        font-size: 1rem;
    }
    .social{
        margin-top: 10%;
    }
    .social a img{
        width: 3.5rem;
    }
    .slika{
        width: 80%;
        border-radius: 100%;
    }
    /* KRAJ POCETNE */

    /* O MENI */
    .oMeni{
        width: 100%;
    }
    .oMeni h1{
        font-size: 1.25rem;
    }
    .oMeni p{
        font-size: 0.8rem;
    }
    /* KRAJ O MENI */

    /* VESTINE */
    .vestine {
        width: 90%;
    }
    .programiranje {
        width: 100%;
    }
    .programiranje h2, .jezici h2{
        font-size: 1rem;
        justify-content: space-evenly;
    }
    .vestine h1, .jezici h1{
        font-size: 1.25rem;
    }
    .vestine img, .jezici img{
        width: 70px;
    }

    /* KRAJ VESTINE */

    /* PORTFOLIO */
    .portfolio{
        width: 90%;
    }
    .portfolio h1{
        font-size: 1.25rem;
    }
    .portfolioContent{
        flex-direction: column;
        align-items: center;
    }
    .portfolioAlign{
        width: 90%;
        margin: 2.5rem 0;
    }
    .portfolioAlign p{
        font-size: 0.8rem;
    }
    .middle{
        opacity: 1;
        width: 40%;
        display: inline-block;
        left: 50%;
        top: 100%;
    }
    .tekst{
        font-size: 0.8rem;
        padding: 0.625rem 1rem;
        background-color: #222;
        border: white solid 2px;
        color: white;
    }
    
    .portfolioAlign:hover .container {
        opacity: 1;
    }

    /* KRAJ PORTFOLIO */

    /* KONTAKT */
    .kontaktKlasa{
        width: 100%;
    }
    .kontaktKlasa h1{
        font-size: 1.25rem;
    }
    .kontaktKlasa p{
        font-size: 0.8rem;
    }
    .kontaktForma #submitBtn{
        width: 100%;
    }
    /* KRAJ KONTAKT */

    /* FOOTER */
    .socialFooter{
        padding: 20px 0;
    }
    .socialFooter img{
        width: 2.5rem;
        height: 2.5rem;
    }
    .socialFooter p{
        font-size: 0.6rem;
    }
}







@media screen and (max-width: 790px) {

    /* NAVIGACIJA */
    .nav{
        padding: 1.25rem 3rem;
        background-color: #222;
        transition: 0.5s;
        justify-content: space-between;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 5rem; /* 60px */
        left: 0;
        background-color: #222;
        
    }

    .nav-links li {
        text-align: center;
        margin: 1.25rem 0; /* 10px */
    }
    .nav-links a {
        padding: 1.25rem; /* 20px */
    }
    .nav-links a:hover{
        text-decoration: underline !important;
        text-underline-offset: 1rem !important;
    }

    .nav-toggle {
        display: flex;
    }
    .nav.hidden {
        top: -100px; /* Adjust this value based on your navbar height */
    }
    .nav-links.activeResp {
        display: flex;
        border-bottom-right-radius: 0.625rem; /* 10px */
        border-bottom-left-radius: 0.625rem; /* 10px */
    }

    .nav-links li:last-child {
        margin-bottom: 2rem; /* 20px */
    }
    #kontakt{
        display: none;
    }
    #kontakt:hover{
        color: #222;
    }
    #kontaktResp{
        display: inline;
        font-weight: 700;
        color: white;
        background-color: transparent;
        border: 0.125rem solid white; /* 2px */
        border-radius: 0.3125rem; /* 5px */
        padding: 0.9375rem 1.875rem; /* 15px 30px */
        opacity: 1;
        transition: opacity 0.3s ease-out, background-color 0.2s ease-in-out;
        text-decoration: none;
        cursor: pointer;
    }
    #kontaktResp:hover {
        color: #222;
        background-color: white;
        opacity: 1;
    }
    #active a{
        text-decoration: underline;
        text-underline-offset: 1rem;
    }
    /* KRAJ NAVIGACIJE */

    /* POCETNA */
    .main-content{
        margin-left: 0;
        font-size: 1.188rem;
    }
    .main-content h2{
        font-size: 17px;
    }
    /* .main-content h1{
        margin: 2.5rem 0;
    } */
    .main-content p{
        font-size: 1rem;
    }
    .social{
        margin-top: 10%;
    }
    .social a img{
        width: 3.5rem;
    }
    .slika{
        width: 80%;
        border-radius: 100%;
    }
    /* KRAJ POCETNE */

    /* O MENI */
    .oMeni{
        width: 100%;
    }
    .oMeni h1{
        font-size: 1.25rem;
    }
    .oMeni p{
        font-size: 0.8rem;
    }
    /* KRAJ O MENI */

    /* VESTINE */
    .vestine {
        width: 90%;
    }
    .programiranje {
        width: 100%;
    }
    .programiranje h2, .jezici h2{
        font-size: 1rem;
        justify-content: space-evenly;
    }
    .vestine h1, .jezici h1{
        font-size: 1.25rem;
    }
    .vestine img, .jezici img{
        width: 70px;
    }

    /* KRAJ VESTINE */

    /* PORTFOLIO */
    .portfolio{
        width: 90%;
    }
    .portfolio h1{
        font-size: 1.25rem;
    }
    .portfolioContent{
        flex-direction: column;
        align-items: center;
    }
    .portfolioAlign{
        width: 90%;
        margin: 2.5rem 0;
    }
    .portfolioAlign p{
        font-size: 0.8rem;
    }
    .middle{
        opacity: 1;
        width: 40%;
        display: inline-block;
        left: 50%;
        top: 100%;
    }
    .tekst{
        font-size: 0.8rem;
        padding: 0.625rem 1rem;
        background-color: #222;
        border: white solid 2px;
        color: white;
    }
    
    .portfolioAlign:hover .container {
        opacity: 1;
    }

    /* KRAJ PORTFOLIO */

    /* KONTAKT */
    .kontaktKlasa{
        width: 100%;
    }
    .kontaktKlasa h1{
        font-size: 1.25rem;
    }
    .kontaktKlasa p{
        font-size: 0.8rem;
    }
    .kontaktForma #submitBtn{
        width: 100%;
    }
    /* KRAJ KONTAKT */

    /* FOOTER */
    .socialFooter{
        padding: 20px 0;
    }
    .socialFooter img{
        width: 2.5rem;
        height: 2.5rem;
    }
    .socialFooter p{
        font-size: 0.6rem;
    }
}

@media (max-width: 1000px){
    /* O MENI */

    .oMeni{
        width: 90%;
    }

    /* VESTINE */
    .vestine{
        width: 90%;
    }
    .programiranje{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
    }
    .programiranje div{
        margin: 1rem;
    }

    /* KRAJ VESTINE */

    /* PORTFOLIO */
    .portfolio{
        width: 90%;
    }
    .portfolio h1{
        font-size: 1.5rem;
    }
    .portfolioContent{
        flex-direction: column;
        align-items: center;
    }
    .portfolioAlign{
        width: 90%;
        margin: 2.5rem 0;
    }
    .middle{
        opacity: 1;
        width: 40%;
        display: inline-block;
        left: 50%;
        top: 100%;
    }
    .tekst{
        font-size: 0.8rem;
        padding: 0.625rem 1rem;
        background-color: #222;
        border: white solid 2px;
        color: white;
    }
    
    .portfolioAlign:hover .container {
        opacity: 1;
    }
    /* KRAJ PORTFOLIO */

    /* KONTAKT */
    .kontaktKlasa{
        width: 90%;
    }
}

@media(max-width: 886px){
    .main{
        justify-content: space-between;
    }
    .main-content{
        width: 80%;
        margin-left: 0;
    }
    .slika{
        width: 90%;
        border-radius: 100%;
    }
}

@media(max-width: 650px) {
    .main{
        flex-direction: column;
        justify-content: center;
        height: 1100px;
    }
    .social{
        justify-content: space-evenly;
        margin-bottom: 10%;
    }
    .slika{
        width: 80%;
    }
}